fastapi==0.95.2
joblib==1.4.2
langchain==0.2.16
langchain-cli==0.0.30
langchain-community==0.2.16
langchain-core==0.2.39
langchain-text-splitters==0.2.4
langserve==0.2.3
langsmith==0.1.117
peft==0.12.0
protobuf==5.28.1
pydantic==1.10.18
python-dotenv==1.0.1
scikit-learn==1.5.1
sentencepiece==0.2.0
torch==2.4.1
transformers==4.44.2
uvicorn==0.23.2
